# constants.sh

# Do NOT change this.. helps going thru config migrations.
CONSTANTS_VERSION="1.0"

# V1.0 -- Your stuff
PROJECT_ID="change-with-your-project-id"     # Change to your project_id
FAVORITE_ZONE="europe-west1-b"               # Change to your favorite zone
FAVORITE_MACHINE_TYPE="n1-standard-1"        # Change to your favorite VM Type
GKE_CLUSTERNAME="your-cluster"               # Change to your GKE kubectl clustername